@model IEnumerable<workshop_1.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get" class="mb-3">
    <div class="row g-2">
        <div class="col-md-3">
            <label class="form-label">Index</label>
            <input type="text" name="index" value="@Context.Request.Query["index"]" class="form-control" />
        </div>

        <div class="col-md-3">
            <label class="form-label">First name</label>
            <input type="text" name="firstName" value="@Context.Request.Query["firstName"]" class="form-control" />
        </div>

        <div class="col-md-3">
            <label class="form-label">Last name</label>
            <input type="text" name="lastName" value="@Context.Request.Query["lastName"]" class="form-control" />
        </div>

        <div class="col-md-3">
            <label class="form-label">Course</label>
            <select name="courseId" class="form-select" asp-items="(SelectList)ViewBag.Courses">
                <option value="">-- All courses --</option>
            </select>
        </div>

        <div class="col-12 mt-2">
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" class="btn btn-outline-secondary">Clear</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcquiredCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquiredCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
